<%- include('../partials/startToStyle') %>

    <link rel="stylesheet" href="/stylesheets/index.css">

<%- include('../partials/styleToNav') %>

    <h2>My Bookshelf</h2>

<%- include('../partials/bookshelfToEnd') %>