<%- include('../partials/startToStyle') %>

    <link rel="stylesheet" href="/stylesheets/index.css">

<%- include('../partials/styleToNav') %>

    <h2>My Bookshelf</h2>
    <a href="/books/new">Add a Book</a>

<%- include('../partials/bookshelfToEnd') %>