<% layout('boilerplate')%>
<h1>index</h1>
<% for (let book of books) { %>
    <a href="/books/<%=book._id%>"><%=book.title%></a>
<% } %>
<footer>
    <a href="books/new">Add New Book</a>
</footer>    