<%- include('../partials/startToStyle') %>

    <link rel="stylesheet" href="/stylesheets/books/clubBookNew.css">

<%- include('../partials/styleToNav') %>

        <div class="left">
            <h1>Add a Book</h1>
        </div>

        <div class="details">

            <form action="/clubs/<%=club._id%>/books" method="POST">
                
                <label for="title">Title: </label>
                <input type="text" name="title" id="title"
                placeholder="Title" required autofocus>

                <div class="buttons">
                    <button>Add Book</button>
                    <a href="/clubs/<%=club._id%>">Cancel</a>
                </div>
            
            </form>

        </div>

    </main>
    <script src="/javascripts/flash.js"></script>

</body>
</html>