<%layout('boilerplate')%>
<h1>Add a new book</h1>
<form action="/books" method="POST">
    <label for="bookTitle">Title</label>
    <input type="text" name="bookTitle" id="bookTitle"
    placeholder="Title" required autofocus>
    <label for="format">Format</label>
    <select name="format" id="format">
        <option value="book">Book / E-Reader</option>
        <option value="audiobook">Audiobook</option>
    </select>
    <input type="date" name="dateStarted" id="dateStarted">
    <label for="dateFinished"></label>
    <input type="date" name="dateFinished" id="dateFinished">
    <button>Add Book</button>
</form>