<% if(success && success.length) {%>
<div class="flash">
    <h2>Success</h2>
    <p><%= success %></p>
    <br>
    <div class="close">Dismiss</div>
</div>
<% } %>

<% if(error && error.length) {%>
    <div class="flash">
        <p><%= error %></p>
        <br>
        <div class="close">Dismiss</div>
    </div>
<% } %>