<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Club</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="innerSquare">
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
        </ul>
        <div class="rightContent">
            <div class="collapsedWindow">
                <%-body%>
            </div>
            <div class="collapsedWindow">
                <h2>2</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis ut a explicabo ratione corporis,
                    illum adipisci, blanditiis deserunt, quos possimus quo expedita fugiat sapiente amet dolore
                    temporibus commodi animi cupiditate!</p>
            </div>
            <div class="collapsedWindow">
                <h2>3</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, tempora eum optio nisi voluptatum quis
                    provident error fugit tempore dolor aliquam quibusdam expedita saepe. In error porro nihil ipsa
                    minima!</p>
            </div>
        </div>
    </div>

    <script src="/app.js"></script>
</body>

</html>