<footer>
    <div class="bookshelf">
        <% for(let book of books) { %>
            <a class="bookContainer" href="/books/<%=book._id%>"><img class="book" src="<%=book.imageUrlM%>" alt=""></a>
        <% } %>
    </div>
</footer>