<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookShelf</title>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;1,400;1,800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body>
    <%- include('navbar') %>

    <main>
        <h1>Welcome to BookShelf</h1>
    </main>
    <div class="bookshelf">
        <div class="bookContainerTop">
            <img src="https://covers.openlibrary.org/b/id/8783768-M.jpg" alt="">
        </div>
        <div class="bookContainerTop">
            <img src="https://covers.openlibrary.org/b/id/9282657-M.jpg" alt="">
        </div>
        <div class=" bookContainerTop">
            <img src="https://covers.openlibrary.org/b/id/12038046-M.jpg" alt="">
        </div>
        <div class=" bookContainerTop">
            <img src="https://covers.openlibrary.org/b/id/8157718-M.jpg" alt="">
        </div>
        <div class=" bookContainerTop">
            <img src="https://covers.openlibrary.org/b/id/10872750-M.jpg" alt="">
        </div>
        <div class=" bookContainerTop">
            <img src="https://covers.openlibrary.org/b/id/10934305-M.jpg" alt="">
        </div>
        <div class=" bookContainerTop">
            <img src="https://covers.openlibrary.org/b/id/8750149-M.jpg" alt="">
        </div>
        <div class=" bookContainerTop">
            <img src="https://covers.openlibrary.org/b/id/7073537-M.jpg" alt="">
        </div>
        <div class=" bookContainerTop">
            <img src="https://covers.openlibrary.org/b/id/8406786-M.jpg" alt="">
        </div>
        <div class=" bookContainerTop">
            <img src="https://covers.openlibrary.org/b/id/7371927-M.jpg" alt="">
        </div>
        <div class=" bookContainerTop">
            <img src="https://covers.openlibrary.org/b/id/10469437-M.jpg" alt="">
        </div>
        <div class=" bookContainerTop">
            <img src="https://covers.openlibrary.org/b/id/8432047-M.jpg" alt="">
        </div>
        <div class=" bookContainerTop">
            <img src="https://covers.openlibrary.org/b/id/9255566-M.jpg" alt="">
        </div>
        <div class=" bookContainerTop">
            <img src="https://covers.openlibrary.org/b/id/9267242-M.jpg" alt="">
        </div>
        <div class=" bookContainerTop">
            <img src="https://covers.openlibrary.org/b/id/8368314-M.jpg" alt="">
        </div>
        <div class=" bookContainerTop">
            <img src="https://covers.openlibrary.org/b/id/8310846-M.jpg" alt="">
        </div>
        <div class=" bookContainerTop">
            <img src="https://covers.openlibrary.org/b/id/9273490-M.jpg" alt="">
        </div>
        <div class=" bookContainerTop">
            <img src="https://covers.openlibrary.org/b/id/7890714-M.jpg" alt="">
        </div>
        <div class=" bookContainerTop">
            <img src="https://covers.openlibrary.org/b/id/10223922-M.jpg" alt="">
        </div>
    </div>
    <div class="bookshelf bookshelfBottom">
        <div class="bookContainerBottom">
            <img src="https://covers.openlibrary.org/b/id/8432047-M.jpg" alt="">
        </div>
        <div class="bookContainerBottom">
            <img src="https://covers.openlibrary.org/b/id/9255566-M.jpg" alt="">
        </div>
        <div class="bookContainerBottom">
            <img src="https://covers.openlibrary.org/b/id/9267242-M.jpg" alt="">
        </div>
        <div class="bookContainerBottom">
            <img src="https://covers.openlibrary.org/b/id/8368314-M.jpg" alt="">
        </div>
        <div class="bookContainerBottom">
            <img src="https://covers.openlibrary.org/b/id/8310846-M.jpg" alt="">
        </div>
        <div class="bookContainerBottom">
            <img src="https://covers.openlibrary.org/b/id/9273490-M.jpg" alt="">
        </div>
        <div class="bookContainerBottom">
            <img src="https://covers.openlibrary.org/b/id/7890714-M.jpg" alt="">
        </div>
        <div class="bookContainerBottom">
            <img src="https://covers.openlibrary.org/b/id/10223922-M.jpg" alt="">
        </div>
        <div class="bookContainerBottom">
            <img src="https://covers.openlibrary.org/b/id/8783768-M.jpg" alt="">
        </div>
        <div class="bookContainerBottom">
            <img src="https://covers.openlibrary.org/b/id/9282657-M.jpg" alt="">
        </div>
        <div class="bookContainerBottom">
            <img src="https://covers.openlibrary.org/b/id/12038046-M.jpg" alt="">
        </div>
        <div class="bookContainerBottom">
            <img src="https://covers.openlibrary.org/b/id/8157718-M.jpg" alt="">
        </div>
        <div class="bookContainerBottom">
            <img src="https://covers.openlibrary.org/b/id/10872750-M.jpg" alt="">
        </div>
        <div class="bookContainerBottom">
            <img src="https://covers.openlibrary.org/b/id/10934305-M.jpg" alt="">
        </div>
        <div class="bookContainerBottom">
            <img src="https://covers.openlibrary.org/b/id/8750149-M.jpg" alt="">
        </div>
        <div class="bookContainerBottom">
            <img src="https://covers.openlibrary.org/b/id/7073537-M.jpg" alt="">
        </div>
        <div class="bookContainerBottom">
            <img src="https://covers.openlibrary.org/b/id/8406786-M.jpg" alt="">
        </div>
        <div class="bookContainerBottom">
            <img src="https://covers.openlibrary.org/b/id/7371927-M.jpg" alt="">
        </div>
        <div class="bookContainerBottom">
            <img src="https://covers.openlibrary.org/b/id/10469437-M.jpg" alt="">
        </div>
    </div>
</body>
</html>