<nav>
    <h1 class="logoH1"><a class="logo" href="/">BookShelf</a></h1>
    <div class="links">
        <a href="/books">MyBookShelf</a>
        <% if (!currentUser) { %>
        <a class="signUpLogIn" href="/register">Register</a>
        <a href="/login">Sign In</a>
        <% } else { %>
        <a href="/logout">Sign Out</a>
        <% } %>
    </div>
</nav>