footer {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    opacity: 0.1;
}
.bookshelf {
    width: 100%;
    height: 250px;
    display: flex;
    align-items:flex-end;
    overflow-y: hidden;
    overflow-x: scroll;
}
.bookContainer {
    width: 60px;
    height: 200px;
}
.book {
    background-color: #fffcf2;
    height: 100%;
    border-radius: 3px;
    outline: 3px solid #252422;
}