* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background: #252422;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'JetBrains Mono', monospace;
}
main {
    width: 100%;
    display: flex;
    color: #ccc5b9;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.left {
    width: 420px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.coverContainer {
    height: 380px;
}
.cover {
    height: 100%;
    border-radius: 5px;
    box-shadow: 15px 15px 15px black;
}
.details {
    height: 360px;
    width: 500px;
    border-left: 3px solid #ccc5b90c;
    margin-left: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}
form {
    font-size: 18px;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 40px;
}
.formField {
    margin-top: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
form label {
    margin-top: 10px;
}
form input, select {
    height: 26px;
}
button {
    margin-top: 20px;
    border: 3px solid black;
    font-size: 18px;
    font-weight: 600px;
    border-radius: 5px;
    padding: 10px;
    background-color: #eb5e28;
}
.cancelButton {
    width: 300px;
    margin-left: 40px;
}
.cancelButton a {
    color: black;
    text-decoration: none;
}
button:hover {
    cursor: pointer;
    text-decoration: underline;
}

footer {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    opacity: 0.1;
}
.bookshelf {
    width: 100%;
    height: 250px;
    display: flex;
    align-items:flex-end;
    overflow-y: hidden;
    overflow-x: scroll;
}
.bookContainer {
    width: 60px;
    height: 200px;
}
.book {
    background-color: #fffcf2;
    height: 100%;
    border-radius: 3px;
    outline: 3px solid #252422;
}