nav {
    width: 100%;
    background-color: #eb5e28;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    text-decoration: none;
    color: black;
}
.links {
    display: flex;
}
.links a {
    margin: 5px;
    border-radius: 3px;
    border: 3px solid #252422;
    color: #252422;
    text-decoration: none;
    text-align: center;
    line-height: 2em;
    width: 120px;
    font-size: 1.2em;
    letter-spacing: -1.5px;
    font-weight: 900;
    background-color: #ccc5b9;
}
.links a:hover {
    text-decoration: underline;
    transform: translate(-1px, -1px);
    box-shadow: 1px 1px black;
}
@media (max-width: 768px) {
    .signUpLogIn {
        display: none;
    }
}
@media (max-width: 480px) {
    .logo {
        display: none;
    }
    nav {
        justify-content: center;
    }
}