* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background-color: #252422;
    color: #ccc5b9;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'JetBrains Mono', monospace;
}
main {
    width: 100%;
    display: flex;
    height: 100%;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
}
.left {
    width: 33%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cover {
    max-height: 100%;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 15px 15px 15px black;
}
.details {
    height: 350px;
    width: 33%;
    border-left: 3px solid #ccc5b90c;
    margin-left: 20px;
    padding-left: 20px;
    border-right: 3px solid #ccc5b90c;
    margin-right: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}
h2 {
    color: #eb5e28;
    font-size: 2em;
    padding-bottom: 10px;
}
h3 {
    padding-bottom: 10px;
}
.editButton {
    margin: 5px;
    border-radius: 3px;
    border: 3px solid #eb5e28;
    color: #eb5e28;
    text-decoration: none;
    text-align: center;
    line-height: 2em;
    width: 120px;
    font-size: 1.2em;
    letter-spacing: -1.5px;
    font-weight: 900;
}
.editButton:hover {
    text-decoration: underline;
    transform: translate(-2px, -2px);
    box-shadow: 2px 2px black;
}
.right {
    width: 33%;
    height: 350px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
.right form {
    display: flex;
    flex-direction: column;
}
.review {
    border: 3px solid #252422;
    color: #252422;
    font-size: 1em;
    border-radius: 3px;
    background-color: #ccc5b9;
    width: 100%;
}