* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background: #252422;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'JetBrains Mono', monospace;
}
nav {
    width: 100%;
    background-color: #eb5e28;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links {
    display: flex;
}
nav a {
    margin: 5px;
    border-radius: 3px;
    border: 3px solid #252422;
    color: #252422;
    text-decoration: none;
    text-align: center;
    line-height: 2em;
    width: 120px;
    font-size: 1.2em;
    letter-spacing: -1.5px;
    font-weight: 900;
    background-color: #ccc5b9;
}
nav a:hover {
    text-decoration: underline;
}
main {
    width: 100%;
    display: flex;
    color: #ccc5b9;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.left {
    width: 420px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.coverContainer {
    height: 380px;
}
.cover {
    height: 100%;
    border-radius: 5px;
    box-shadow: 15px 15px 15px black;
}
.details {
    height: 360px;
    width: 500px;
    border-left: 3px solid #ccc5b90c;
    margin-left: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}
h2 {
    color: #eb5e28;
    font-size: 2em;
    padding-bottom: 10px;
}
h3 {
    padding-bottom: 10px;
}
footer {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
}
.bookshelf {
    width: 100%;
    height: 250px;
    display: flex;
    align-items:flex-end;
    overflow-y: hidden;
    overflow-x: scroll;
}
.bookContainer {
    width: 60px;
    height: 200px;
    transition: 0.3s;
}
.bookContainer:hover {
    width: 120px;
    height: 220px;
}
.book {
    background-color: #fffcf2;
    height: 100%;
    border-radius: 5px;
    border: 5px solid #fffcf2;
    outline: 3px solid #252422;
}