* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background: #252422;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'JetBrains Mono', monospace;
}
main {
    width: 100%;
    display: flex;
    color: #ccc5b9;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.left {
    width: 420px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.coverContainer {
    height: 380px;
}
.cover {
    height: 100%;
    border-radius: 5px;
    box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.4);
}
.details {
    height: 360px;
    width: 500px;
    border-left: 3px solid #ccc5b90c;
    margin-left: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}
h2 {
    color: #eb5e28;
    font-size: 2em;
    padding-bottom: 10px;
}
h3 {
    padding-bottom: 10px;
}
.editButton {
    margin: 5px;
    border-radius: 3px;
    border: 3px solid #eb5e28;
    color: #eb5e28;
    text-decoration: none;
    text-align: center;
    line-height: 2em;
    width: 120px;
    font-size: 1.2em;
    letter-spacing: -1.5px;
    font-weight: 900;
}
.editButton:hover {
    text-decoration: underline;
    transform: translate(-2px, -2px);
    box-shadow: 2px 2px black;
}