main {
    flex-direction: column;
    justify-content: flex-start;
}

main h1 {
    margin: 20px 0;
}

main h1 a {
    text-decoration: none;
    color: #eb5e28;
}

.showContent {
    width: 100%;
    display: flex;
    align-items: center;
}


/*----------------------------------------------------------*/
/*----- Book Cover Box -------------------------------------*/
.clubInfo {
    flex: 0 0 120px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
}

.clubInfo h2 {
    font-size: 1em;
    padding-bottom: 5px;
}

.clubInfo p {
    font-size: 0.6em;
    padding-bottom: 5px;
}

.clubInfo a, .clubInfo form button {
    margin-top: 20px;
    border-radius: 5px;
    border: 3px solid black;
    background-color: #eb5e28;
    color: black;
    text-decoration: none;
    text-align: center;
    line-height: 1.5em;
    width: 120px;
    font-size: 1em;
    letter-spacing: -1.5px;
    font-weight: 900;
    font-family: 'JetBrains Mono', monospace;
    
}

.clubInfo a:hover, .clubInfo form button:hover {
    cursor: pointer;
    text-decoration: underline;
    transform: translate(-2px, -2px);
    box-shadow: 3px 3px black;
}

.clubImage {
    flex: 1 1 auto;
    margin: 20px;
}
.clubImage img {
    border: 3px solid black;
    border-radius: 5px;
    max-width: 100%;
    max-height: 100%;
}

@media (min-width: 768px) {
    .coverContainer {
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
    }
    
    .cover {
        max-height: 100%;
        max-width: 100%;
        border-radius: 5px;
        box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.4);
    }
    
    
    /*----------------------------------------------------------*/
    /*----- Book Info Box --------------------------------------*/
    .clubInfo {
        height: 300px;
        width: 300px;
        margin-left: 0;
    }
    
    .clubInfo h2 {
        font-size: 1.5em;
    }
    
    .clubInfo h3 {
        font-size: 1.2em;
    }
}